CompileFlags:
  Compiler: clang
  Add:
    - "-xc++"
    - "-I/usr/local/include"
    - "-I/nix/store/pzmpyb9hxfv60vh0l67avr94h71nip1b-llvm-16.0.6-dev/include"
    - "-I/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include"
    - "-I/Users/raphael/Documents/42_cursus/circle4/cpp/cpp00/ex00"
